a:any-link {
    color: unset;
    text-decoration: none;
}

a:active {
    color: unset;
}

body {
    display: grid;
    row-gap: 1em;
}

/* NAv bar is here */
.nav {
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.nav .logo {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: start;
    align-items: center;
}

.nav .logo img {
    width: 3em;
    height: 3em;
}

.nav .logo a {
    font-size: 1.5em;
    font-weight: 500;
}


#search {
    width: 80%
}

.nav div.other-stuff {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

/* Nav bar Ends here */

/* Main from class */
.form {
    display: grid;
    row-gap: 1em;
    justify-content: center;
}

.form div.wrapper {
    display: grid;
}

.form div.wrapper label{
    justify-self: center;
}

/* Main Form Class ends here */


/* Video class is here */
.videos {
    padding: 1.5em;
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 0.5em;
    row-gap: 1em;
}

.video {
    display: grid;
    grid-template-rows: auto auto;
    /* text-align: center; */
}

.video video{
    width: 275;
}

.video-info {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: start;
    align-items: start;
    column-gap: 1em;
}

.video-info .video-title {
    grid-row: 1;
    grid-column: 2;
    font-size: 1em;
    font-weight: 600;
}

.video-info .channel-name {
    grid-row: 2;
    grid-column: 2;
    font-size: 0.9em;
}

.video-info .channel-logo {
    grid-row: 1;
    grid-column: 1;
    border-radius: 100%;
}

.video-info .channel-logo img {
    width: 2em;
    height: 2em;
    border-radius: 100%;
}
/* Video class Ends here */

/* Single Video css is here */
.video-main {
    display: grid;
    grid-template-columns: auto auto;
}

.video-main div.video {
    grid-column: 1;
    grid-row: 1;
    padding-left: 1em;
}

.video-main div.side-videos {
    display: grid;
    grid-template-columns: auto;
    grid-column: 2;
    grid-row: 1;
}

.video-main div.comments {
    grid-column: 1;
    grid-row: 3;
}

.video-main div.interaction {
    grid-column: 1;
    grid-row: 2;
    display: grid;
    grid-template-columns: auto auto auto;
}