{% extends 'base.html'%}

{% block content %}
<div class="main-home main">
    <!-- <h2> This is Home page</h2> -->
    <div class="videos">
        {% for video in videos %}
        <div class="video">
            <a href="{% url 'video' video.id%}">
                <video src="{{ video.media.url }}" width='400'></video>
                    <!-- <source src="{{ video.media.url }}">
                    Your browser does not support the video tag.
                </video> -->
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}