{% extends 'base.html'%}

{% block content %}
<div class="main-home main">
    <!-- <h2> This is Home page</h2> -->
    <div class="videos">
        {% for video in videos %}
        <div class="video">
            <a href="{% url 'video' video.id%}">
                <video width='400'>
                    <source src="{{ video.media.url }}">
                    Your browser does not support the video tag.
                </video>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}