{% extends 'base.html'%}

{% block content %}
<div class="main">

    <!-- Alert Messages -->
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        <strong></strong> {{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    {% endif %}

    <!-- main form -->
    <form action="{% url 'login'%}" method="POST" class="login-form form">
        {% csrf_token %}

        <!-- Form is here -->
        {{ form.non_field_errors }}
        <div class="wrapper">
            {{ form.email.errors }}
            <label for="{{ form.email.id_for_label }}">Email</label>
            {{ form.email }}
        </div>
        <div class="wrapper">
            {{ form.password.errors }}
            <label for="{{ form.password.id_for_label }}">Password</label>
            {{ form.password }}
        </div>

        <!-- Submit Button -->
        <input type="submit" value="Login">
        <p>Register <a href="{%url 'register'%}">here</a></p>

    </form>
    <!-- Login Form Ends here -->
    

</div>
{% endblock %}