{% extends 'base.html'%}

{% block content %}
<div class="main-video main">

    <!-- Single Video Section -->
    <div class="video">
        <video width='700' controls>
            <source src="{{ video.media.url }}">
            Your browser does not support the video tag.
        </video>
    </div>
    <!-- Single Video Section Ends here -->

    <!-- Comment Section is here -->
    <div class="comments">

    </div>
    <!-- Comment Section Ends here -->

    <!-- Side Videos -->
    <div class="videos">
        {% for vid in videos %}
        <div class="video">
            <video width='400' controls>
                <source src="{{ vid.media.url }}">
                Your browser does not support the video tag.
            </video>
        </div>
        {% endfor %}
    </div>
    <!-- Side Videos Ends Here -->

</div>
{% endblock %}