{% extends 'base.html'%}

{% block content %}
<div class="video-main">

    <!-- Single Video Section -->
    <div class="video">
        <video src="{{ video.media.url }}" width='750' controls>
            <!-- <source src="{{ video.media.url }}">
            Your browser does not support the video tag.
        </video> -->
    </div>
    <!-- Single Video Section Ends here -->

    <!-- Comment Section is here -->
    <div class="comments">

    </div>
    <!-- Comment Section Ends here -->

    <!-- Side Videos -->
    <div class="videos">
        {% for vid in videos %}
        <div class="video">
            <a href="{% url 'video' vid.id%}">
            <video src='{{ vid.media.url }}' width='400'>
                <!-- <source src="{{ vid.media.url }}">
                Your browser does not support the video tag.
            </video> -->
            </a>
        </div>
        {% endfor %}
    </div>
    <!-- Side Videos Ends Here -->

</div>
{% endblock %}